<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.secondzip.backend.record.mapper.ChecklistItemMapper">
    <select id="findByReportChecklistId"
            resultType="com.secondzip.backend.record.dto.request.ChecklistItemInput">

        SELECT
            ci.checklist_item_id AS checklistItemId,
            ci.contents AS contents,
            ci.category AS category,

        FROM analysis_report_checklist_items rci

                 INNER JOIN checklist_items ci
                            ON ci.checklist_item_id = rci.checklist_item_id

        WHERE rci.analysis_report_checklist_id =
              #{reportChecklistId}

        ORDER BY
            CASE
                WHEN ci.category = 'COMMON' THEN 0
                ELSE 1
                END,
            ci.checklist_item_id ASC

    </select>
</mapper>