<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondzip.backend.record.mapper.RecordingSessionMapper">
    <insert id="insert"
            parameterType="com.secondzip.backend.record.domain.RecordingSessionVO"
            useGeneratedKeys="true"
            keyProperty="recordingSessionId"
            keyColumn="recording_session_id">

        INSERT INTO recording_sessions (
            account_id,
            original_file_name,
            storage_object_key,
            content_type,
            file_size,
            status
        )
        VALUES (
                   #{accountId},
                   #{originalFileName},
                   #{storageObjectKey},
                   #{contentType},
                   #{fileSize},
                   #{status}
               )
    </insert>
</mapper>