<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.secondzip.backend.account.mapper.AccountMapper">

    <resultMap
            id="accountMap"
            type="com.secondzip.backend.account.domain.Account">

        <id
                column="account_id"
                property="accountId"/>

        <result
                column="email"
                property="email"/>

        <result
                column="password"
                property="password"/>

        <result
                column="nickname"
                property="nickname"/>

        <result
                column="character_type"
                property="characterType"/>
    </resultMap>

    <select
            id="countByEmail"
            parameterType="java.lang.String"
            resultType="java.lang.Integer">

        SELECT COUNT(*)
        FROM accounts
        WHERE email = #{email}
    </select>

    <select
            id="countByNickname"
            parameterType="java.lang.String"
            resultType="java.lang.Integer">

        SELECT COUNT(*)
        FROM accounts
        WHERE nickname = #{nickname}
    </select>

    <insert
            id="insert"
            parameterType="com.secondzip.backend.account.domain.Account"
            useGeneratedKeys="true"
            keyProperty="accountId"
            keyColumn="account_id">

        INSERT INTO accounts (
            email,
            password,
            nickname,
            character_type
        )
        VALUES (
                   #{email},
                   #{password},
                   #{nickname},
                   #{characterType}
               )
    </insert>

    <select
            id="findByEmail"
            parameterType="java.lang.String"
            resultMap="accountMap">

        SELECT
            account_id,
            email,
            password,
            nickname,
            character_type
        FROM accounts
        WHERE email = #{email}
    </select>

    <select id="findById"
            parameterType="long"
            resultType="com.secondzip.backend.account.domain.Account">
        SELECT
            account_id AS accountId,
            email,
            password,
            nickname,
            character_type AS characterType
        FROM accounts
        WHERE account_id = #{accountId}
    </select>

    <select id="countByNicknameExcludingAccount"
            resultType="int">
        SELECT COUNT(*)
        FROM accounts
        WHERE nickname = #{nickname}
          AND account_id != #{accountId}
    </select>

    <update id="updateAccount">
        UPDATE accounts
        SET
            nickname = #{updateDTO.nickname}
        WHERE account_id = #{accountId}
    </update>

    <update id="updateCharacterType">
        UPDATE accounts
        SET character_type = #{characterType}
        WHERE account_id = #{accountId}
    </update>

    <delete id="deleteById"
            parameterType="long">
        DELETE
        FROM accounts
        WHERE account_id = #{accountId}
    </delete>

    <update id="updatePassword">
        UPDATE accounts
        SET password = #{password}
        WHERE account_id = #{accountId}
    </update>

    <select id="findActivitySummaryByAccountId"
            parameterType="long"
            resultType="com.secondzip.backend.account.dto.response.ActivitySummaryDTO">

        SELECT
            COUNT(*) AS totalReportCount,
            COUNT(CASE
                      WHEN risk_level = 'SAFE' THEN 1
                END) AS safeCount,
            COUNT(CASE
                      WHEN risk_level = 'CAUTION' THEN 1
                END) AS cautionCount,
            COUNT(CASE
                      WHEN risk_level = 'DANGER' THEN 1
                END) AS dangerCount
        FROM analysis_reports
        WHERE account_id = #{accountId}

    </select>

</mapper>