<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.secondzip.backend.checklist.mapper.AccountChecklistItemMapper">

    <select id="findByAccountIdAndCategory"
            resultType="com.secondzip.backend.checklist.dto.response.ChecklistResponseDTO">

        SELECT
        ci.checklist_item_id AS checklistItemId,
        ci.contents AS contents,
        ci.category AS category,
        COALESCE(aci.is_checked, FALSE) AS checked
        FROM checklist_items ci

        LEFT JOIN account_checklist_items aci
        ON aci.checklist_item_id = ci.checklist_item_id
        AND aci.account_id = #{accountId}

        WHERE ci.category = 'COMMON'

        <if test="category != null and category != ''">
            OR ci.category = #{category}
        </if>

        ORDER BY
        CASE
        WHEN ci.category = 'COMMON' THEN 0
        ELSE 1
        END,
        ci.checklist_item_id ASC

    </select>


    <insert id="insertChecked">

        INSERT INTO account_checklist_items (
            account_id,
            checklist_item_id,
            is_checked
        )
        VALUES (
                   #{accountId},
                   #{checklistItemId},
                   TRUE
               )

            ON DUPLICATE KEY UPDATE
                                 is_checked = TRUE,
                                 modified_at = CURRENT_TIMESTAMP

    </insert>
    <delete id="delete">

        DELETE FROM account_checklist_items
        WHERE account_id = #{accountId}
          AND checklist_item_id = #{checklistItemId}

    </delete>
    <delete id="deleteAllByAccountId">

        DELETE FROM account_checklist_items
        WHERE account_id = #{accountId}

    </delete>
</mapper>